@media (min-width: 325px) and (max-width: 425px){
    header{
        height: 110px;
    }
    .container-topo{
     display: flex;
     flex-direction: column;
    }
    .container-links{
        display: flex;
        justify-content: space-between;
        width: 250px;
        border-top: 2px solid rgb(114, 107, 107);
    }
    
}
